.center-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 960px;
  z-index: 1;
  margin: 0 auto;
}

.center-wrapper--center {
  justify-content: center;
  align-items: center;
}
