// fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

// Fonts
$font-body: 'Montserrat', sans-serif;;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
