@import "../../scss/utils/config";
@import "../../scss/utils/mixin";
@import "../../scss/utils/fonts";

h1,
h2,
h3,
h4,
h5,
h6{
  color: $white;
  font-weight: $font-weight-bold;
  margin-bottom: $default-space;
}

p,
small {
  color: $white;
}

h1 {
  @include size(22);
  font-weight: $font-weight-bold;

  @include mq(md) {
    @include size(35);
  }
}

h2 {
  @include size(27);

  @include mq(md) {
    @include size(27);
  }
}

h3 {
  @include size(20);

  @include mq(md) {
    @include size(24);
  }
}

h4 {
  @include size(18);
  font-weight: $font-weight-normal;
  @include mq(md) {
    @include size(21);
  }
}

h5 {
  @include size(14);
  font-weight: $font-weight-light;
  @include mq(md) {
    @include size(16);
  }
}

h6 {
  @include size(15);
  font-weight: $font-weight-light;

  @include mq(md) {
    @include size(14);
  }
}

p {
  @include size(12);
  font-weight: $font-weight-light;
  @include mq(md) {
    @include size(13);
  }
}


.uppercase {
  text-transform: uppercase;
}
