@import "../../scss/utils/config";

.main-wrapper {
  background: $black;
  margin-bottom: $default-space;
  .songs-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.loading {
  display: flex;
  justify-content: center;
}
