@import "../../scss/utils/config";
@import "../../scss/utils/mixin";

.header {
  position: relative;
  width: 100%;
  height: 265px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include mq(xsm) {
    height: 305px;
  }
}
