@import "../../scss/utils/config";
@import "../../scss/utils/mixin";

.level-container {
  position: relative;
  flex-basis: 17%;
  display: flex;
  justify-content: center;
  @include mq(md){
    flex-basis: inherit;
    margin-bottom: 0;
  }
}

.level-container-inner {
  width: 35px;
  position: relative;
  height: 35px;

  @include mq(md){
    width: 39px;
    height: 39px;
  }
}

.level-indicator {
  position: relative;
}

.level-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  color: $white;
  @include size(12)
}

.level-active {
  circle {
    fill: $white;
    stroke: $white;
  }

  .level-number {
    color: $black;
    z-index: 1;
  }
}

.svg {
  height: 35px;
  width: 35px;
  @include mq(md){
    width: 39px;
    height: 39px;
  }
}
circle {
  stroke-width: 5px;
  fill: transparent;
}
.svg-gray{
  stroke: $black;
}
.svg-red{
  stroke: $dark-mid;
  stroke-dasharray: 79.5, 303;
  stroke-dashoffset: -125.75;
}
.svg-orange{
  stroke: #383635;
  stroke-dasharray: 150.5, 198;
  stroke-dashoffset: -214.75;
}
.svg-blue{
  stroke: $dark-mid;
  stroke-dasharray: 89.5, 284;
  stroke-dashoffset: -26.75;
}
.svg-green{
  //stroke-dasharray: 150.5, 198;
  stroke-dashoffset: -214.75;
}

.svg-blue-next {
  stroke-dashoffset: -26.75;
}

.svg-red-last {
  stroke-dashoffset: -125.75;
}
